.links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
  .links li {
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 22px;
    margin-left: 23px;
    margin-top: 35px;
    padding-top: 40px;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .links .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  h4{
    color: #0D2564;
  }
  .items{
    display: inline-flex;
    gap: 96px;
    list-style-type: none;
    text-decoration: none;
    font-weight: bolder;
    font-size: 28px;
    color: #243dbb;
    margin-top: 22px;
    white-space: nowrap;
    margin-left: 60%;
  }
  .items li a:hover{
    cursor: pointer;
    color: #03213f;
  }
  .navbar{
    display: flex;
    gap: 30%;
  }
  .nav{
    display: inline-flex;
    gap: 90%;
  }
  .logo{
    display: flex;
  }
  .hamburger{
    display: none;
  }
 
  @media (min-width: 322px) and (max-width: 400px){
    .links{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      display: flex;
      flex-direction: column;
      z-index: 999;
    }
    .links li {
      list-style-type: none;
      margin-bottom: 30px;
      font-size: 22px;
      margin-left: 23px;
      margin-top: 35px;
      padding-top: 40px;
    }
    .links a {
      color: white;
      text-decoration: none;
    }
    .links .back-button {
      position: absolute;
      top: 1rem;
      left: 1rem;
      font-size: 1.5rem;
      color: white;
      cursor: pointer;
    }
    h4{
      color: #0D2564;
    }
    .items{
      display: inline-flex;
      gap: 96px;
      list-style-type: none;
      text-decoration: none;
      font-weight: bolder;
      font-size: 28px;
      color: #243dbb;
      margin-top: 22px;
      white-space: nowrap;
      margin-left: 60%;
    }
    .items li a:hover{
      cursor: pointer;
      color: #03213f;
    }
    .items{
      display: none;
    }
    .navbar{
      gap: 39%;
      position: fixed;
    }
    .logo img{
      width: 80px;
      height: 80px;
      padding-left: 5px;
    }
    h4{
      font-size: 20px;
    }
    .hamburger{
      display: block;
      color: #e8eaf0;
      margin-left: 1800%;
     margin-top: 20px;
    }
  }


@media screen  and (min-width: 401px) and (max-width: 539px){
  .links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
  .links li {
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 22px;
    margin-left: 23px;
    margin-top: 35px;
    padding-top: 40px;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .links .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  h4{
    color: #0D2564;
  }
  .items{
    display: inline-flex;
    gap: 96px;
    list-style-type: none;
    text-decoration: none;
    font-weight: bolder;
    font-size: 28px;
    color: #243dbb;
    margin-top: 22px;
    white-space: nowrap;
    margin-left: 60%;
  }
  .items li a:hover{
    cursor: pointer;
    color: #03213f;
  }
  .items{
    display: none;
  }
  .navbar{
    gap: 39%;
    position: fixed;
  }
  .logo img{
    width: 80px;
    height: 80px;
    padding-left: 5px;
  }
  h4{
    font-size: 20px;
  }
  .hamburger{
    display: block;
    color: #e8eaf0;
    margin-left: 1800%;
   margin-top: 20px;
  }
 
}
@media screen  and (min-width: 540px) and (max-width: 720px){
  .links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
  .links li {
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 22px;
    margin-left: 23px;
    margin-top: 35px;
    padding-top: 40px;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .links .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  h4{
    color: #0D2564;
  }
  .items{
    display: inline-flex;
    gap: 96px;
    list-style-type: none;
    text-decoration: none;
    font-weight: bolder;
    font-size: 28px;
    color: #243dbb;
    margin-top: 22px;
    white-space: nowrap;
    margin-left: 60%;
    /* padding-left: 30px; */
  }
  .items li a:hover{
    cursor: pointer;
    color: #03213f;
  }
  .items{
    display: none;
  }
  .navbar{
    gap: 39%;
    position: fixed;
  }
  .logo img{
    width: 80px;
    height: 80px;
    padding-left: 5px;
  }
  h4{
    font-size: 20px;
  }
  .hamburger{
    display: block;
    color: #e8eaf0;
    margin-left: 1800%;
   margin-top: 20px;
  } 
}
@media screen  and (min-width: 721px) and (max-width: 880px){
  .links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
  .links li {
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 22px;
    margin-left: 23px;
    margin-top: 35px;
    padding-top: 40px;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .links .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  h4{
    color: #0D2564;
  }
  .items{
    display: inline-flex;
    gap: 26px;
    list-style-type: none;
    text-decoration: none;
    font-weight: bolder;
    font-size: 28px;
    color: #243dbb;
    margin-top: 22px;
    white-space: nowrap;
    margin-left: 25%;
  }
  .items li a:hover{
    cursor: pointer;
    color: #03213f;
  }
  /* .items{
    display: none;
  } */
  .navbar{
    gap: 39%;
    position: fixed;
  }
  .logo img{
    width: 80px;
    height: 80px;
    padding-left: 5px;
  }
  h4{
    font-size: 20px;
  }
  .hamburger{
    display: block;
    color: #e8eaf0;
    margin-left: 1800%;
   margin-top: 20px;
  } 
}

@media screen  and (min-width: 881px) and (max-width: 1000px){
  .links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
  .links li {
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 22px;
    margin-left: 23px;
    margin-top: 35px;
    padding-top: 40px;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .links .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  h4{
    color: #0D2564;
  }
  .items{
    display: inline-flex;
    gap: 26px;
    list-style-type: none;
    text-decoration: none;
    font-weight: bolder;
    font-size: 28px;
    color: #243dbb;
    margin-top: 22px;
    white-space: nowrap;
    margin-left: 60%;
    /* padding-left: 30px; */
  }
  .items li a:hover{
    cursor: pointer;
    color: #03213f;
  }
  .navbar{
    gap: 39%;
    position: fixed;
  }
  .logo img{
    width: 80px;
    height: 80px;
    padding-left: 5px;
  }
  h4{
    font-size: 20px;
  }
  .hamburger{
    display: block;
    color: #e8eaf0;
    margin-left: 1600%;
   margin-top: 20px;
  } 
}

@media screen  and (min-width: 1001px) and (max-width: 1200px){
  .links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
  .links li {
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 22px;
    margin-left: 23px;
    margin-top: 35px;
    padding-top: 40px;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .links .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  h4{
    color: #0D2564;
  }
  .items{
    display: inline-flex;
    gap: 26px;
    list-style-type: none;
    text-decoration: none;
    font-weight: bolder;
    font-size: 28px;
    color: #243dbb;
    margin-top: 22px;
    white-space: nowrap;
    margin-left: 60%;
    /* padding-left: 30px; */
  }
  .items li a:hover{
    cursor: pointer;
    color: #03213f;
  }
  .navbar{
    gap: 39%;
    position: fixed;
  }
  .logo img{
    width: 80px;
    height: 80px;
    padding-left: 5px;
  }
  h4{
    font-size: 20px;
  }
  .hamburger{
    display: none;
  } 
}































  /* @media (min-width: 400px) and (max-width: 480px){
    .items{
      display: none;
    }
    .navbar{
      gap: 39%;
      position: fixed;
    }
    .logo img{
      width: 80px;
      height: 80px;
    }
    h4{
      font-size: 20px;
    }
    .hamburger{
      display: block;
      color: #f3f4f5;
     margin-top: 20px;
     margin-left: 75px;
    }
  } */
  /* @media (min-width: 481px) and (max-width: 550px){
    .items{
      display: none;
    }
    .navbar{
      gap: 72%;
      position: fixed;
     }
    .logo img{
      width: 80px;
      height: 80px;
      margin-left: 37px; 
    } 
    h4{
      font-size: 20px;
    }
    .hamburger{
      display: block;
      color: #f5f7fc;
     margin-top: 20px;
     margin-left: 90px;
    }
  }  */
  /* @media (min-width: 551px) and (max-width: 770px){
    .items{
      display: none;
    }
   .logo img{
      width: 80px;
      height: 80px;
      margin-left: 22px;
    } 
    h4{
      font-size: 20px;
    }
    .navbar{
      display: flex;
      gap: 100%;
      position: fixed;
    }
    .hamburger{
      display: block;
      color: #eaecf0;
     margin-top: 20px;
     margin-left: 100%;
    }
  } */
  /* @media (min-width: 820px) and (max-width: 821px){
     .logo img{
      width: 80px;
      height: 80px;
      margin-left: 20px;
    } 
    .navbar{
      display: flex;
      gap: 40%;
      position: fixed;
    }
    .items{
      display: inline-flex;
      gap: 50px;
      white-space: nowrap;
        list-style-type: none;
        text-decoration: none;
        font-weight: bolder;
        font-size: 15px;
        color: #0D2564;
        margin-top: 32px;
        margin-left: -173px;
      }
    h4{
      font-size: 20px;
    }
    .hamburger{
      display: none;
    }
    } */
    /* @media (min-width: 1011px) and (max-width: 1024px){
      .items{
        display: none;
      }
      .logo img{
        width: 80px;
        height: 80px;
      }
      h4{
        font-size: 20px;
      }
      .hamburger{
        display: block;
        color: #fbfcff;
       margin-top: 20px;
       margin-left: 50px;
      }
      } */
/* @media (min-width:911px) and (max-width: 912px){
        .items{
          display: none;
        }
        .navbar{
          gap: 182%;
          position: fixed;
        }
        .logo img{
          width: 80px;
          height: 80px;
        }
        h4{
          font-size: 20px;
        }
        .hamburger{
          display: block;
          color: #f1f4fa;
         margin-top: 20px;
         margin-left: 100px;
        }
} */
/* @media (min-width: 853px) and (max-width: 855px){
  .logo img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
  } 
  .items{
    display: inline-flex;
    gap: 20px;
      list-style-type: none;
      text-decoration: none;
      font-weight: bolder;
      font-size: 15px;
      color: #0D2564;
      margin-top: 25px;
      margin-left: 55px;
    }
  h4{
    font-size: 18px;
  }
  .hamburger{
    display: none;
  }
  } */
  /* @media (min-width: 1280px) and (max-width: 1281px){
    .logo img{
      width: 80px;
      height: 80px;
      margin-left: 30px;
    } 
    .navbar{
      display: flex;
      gap: 60%;
      position: fixed;
    }
    .items{
      display: inline-flex;
      gap: 50px;
      white-space: nowrap;
        list-style-type: none;
        text-decoration: none;
        font-weight: bolder;
        font-size: 15px;
        color: #0D2564;
        margin-top: 32px;
        position: fixed;
        margin-left: 65%;
      }
    h4{
      font-size: 20px;
    }
    .hamburger{
      display: none;
    }
    } */

  /* @media (min-width:1024px) and (max-width:1027px) {
     .logo img{
      width: 80px;
      height: 80px;
      margin-left: 3px;
      }
    .items{
     display: inline-flex;
    gap: 50px;
    white-space: nowrap;
    list-style-type: none;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: #0D2564;
    margin-top: 32px;
    position: fixed;
    margin-left: 59%;
      }
    .hamburger{
      display: none;
        }
        } */





