h2{
    font-size: 66px;
    color: white;
    text-align: center;
    padding-top: 20%;

}
#music{
    background-image: url("../images/music.jpg");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;

}
button{
    color: white;
    background-color: #3376BC;
    border-radius: 25px;
    width: 8%;
    height: 6%;
    border: none;

}

@media (min-width: 0px) and (max-width: 300px){
    h2{
        font-size: 40px;
        color: white;
        text-align: center;
        padding-top: 40px;
    
    }
    #music{
        background-image: url("../images/music.jpg");
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        padding-bottom: 10px;
    }
    button{
        color: white;
        background-color: #3376BC;
        border-radius: 25px;
        width: 9%;
        height: 6%;
        border: none;
    
    }
}

@media screen  and (min-width: 301px) and (max-width: 400px){
    h2{
        font-size: 4cqmax;
        color: white;
        text-align: center;
        padding-top: 50px;
    
    }
    #music{
        background-image: url("../images/music.jpg");
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width:600px;
        padding-bottom: 10px;
    }
    button{
        color: white;
        background-color: #3376BC;
        border-radius: 25px;
        width: 38%;
        height: 6%;
        border: none;
    
    }

}

@media screen  and (min-width: 401px) and (max-width: 539px){
    h2{
        font-size: 4cqmax;
        color: white;
        text-align: center;
        padding-top: 50px;
    
    }
    #music{
        background-image: url("../images/music.jpg");
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width:600px;
        padding-bottom: 10px;
    }
    button{
        color: white;
        background-color: #3376BC;
        border-radius: 25px;
        width: 38%;
        height: 6%;
        border: none;
    
    }
}


@media screen  and (min-width: 280px) and (max-width: 653px){
    h2{
        font-size: 40px;
        color: white;
        text-align: center;
        padding-top: 20%;
    
    }
    #music{
        background-image: url("../images/music.jpg");
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        height: 458px;
        width: 423px;
    
    }
    button{
        color: white;
        background-color: #3376BC;
        border-radius: 25px;
        width: 29%;
        height: 8%;
        border: none;
    
    }

}

@media screen  and (min-width: 540px) and (max-width: 720px){
    h2{
        font-size: 40px;
        color: white;
        text-align: center;
        padding-top: 150px;
    
    }
    #music{
        background-image: url("../images/music.jpg");
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        width: 600px;
        padding-bottom: 10px;
    }
    button{
        color: white;
        background-color: #3376BC;
        border-radius: 25px;
        width: 38%;
        height: 6%;
        border: none;
    
    }

}

@media screen  and (min-width: 721px) and (max-width: 880px){
    h2{
        font-size: 66px;
        color: white;
        text-align: center;
        padding-top: 20%;
    
    }
    #music{
        background-image: url("../images/music.jpg");
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        height: 858px;
        /* width: 400px; */
    
    }
    button{
        color: white;
        background-color: #3376BC;
        border-radius: 25px;
        width: 28%;
        height: 6%;
        border: none;
    
    }
}

@media screen  and (min-width: 881px) and (max-width: 1300px){
    h2{
        font-size: 56px;
        color: white;
        text-align: center;
        padding-top: 20%;
    
    }
    #music{
        background-image: url("../images/music.jpg");
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        height: 868px;
        width: 1020px;
    
    }
    button{
        color: white;
        background-color: #3376BC;
        border-radius: 25px;
        width: 8%;
        height: 6%;
        border: none;
    
    }

}







