
h1{
  text-align: center;
}

#book-details{
  margin-top: 3%;
}
#Media{
margin-top: 5%;
display: flex;
justify-content: center;
gap: 5%;
margin-top: 5%;


}
#button{
  color: white;
  background-color:blue;
  border-radius: 50px;
  height: 40px;
  width: 135px;
  border: none;
  margin-left: 40%
}
#button a{
  text-decoration: none;
}

 

/* @media screen and (min-width:270px) and (max-width:350px){



h1{
  text-align: center;
}

#book-details{
margin-bottom: 13%;
flex-wrap: wrap;
}
#Media{
margin-top: 5%;
align-items: center;
gap: 5%;
margin-top: 5%;


}
#button{
  color: white;
  background-color:blue;
  border-radius: 50px;
  height: 40px;
  width: 135px;
  border: none;
  margin-left: 40%
}
#button a{
  text-decoration: none;
} 
} */